BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: AlwaysBreak
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BinPackArguments: true
BinPackParameters: true
IndentPPDirectives: AfterHash
PointerAlignment: Right
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
IncludeBlocks: Preserve
SortIncludes: false