[submodule "Deps/ws-gw"]
	path = Deps/ws-gw
	url = https://github.com/CodeHz/ws-gw
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Element-0/vcpkg
[submodule "Deps/mini_bus_cpp"]
	path = Deps/mini_bus_cpp
	url = https://github.com/CodeHz/mini_bus_cpp
