[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Element-0/vcpkg
[submodule "Deps/mini_bus_cpp"]
	path = Deps/mini_bus_cpp
	url = https://github.com/CodeHz/mini_bus_cpp
[submodule "Deps/boost-cmake"]
	path = Deps/boost-cmake
	url = https://github.com/Element-0/boost-cmake
[submodule "Deps/SQLiteCpp"]
	path = Deps/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
